<mat-card>
    <mat-card-title>{{ 'TITLE.DELETE' | translate }}</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" 
                [value]="product.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Year (AAAA)"
                [value]="product.year" name="year" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description"
                [value]="product.description" name="description" disabled> 
        </mat-form-field>
    </form>
</mat-card>
<button mat-raised-button (click)="deleteProduct()" color="warn">
    {{ 'BUTTON.DELETE' | translate }}
</button>
<button mat-raised-button (click)="cancel()">
    {{ 'BUTTON.CANCEL' | translate }}
</button>